/* .app__layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */

.app__burger{
  display: block;
  width: 100%;
  height: 50vh;
  
}
.app__burger__ctrl{
 
  width: 100%;
}