.burger{
    width: 80%;
    margin: auto;
}

.burger__top{
    height: 40px;
    width: 80%;
    background-color: rgba(46, 39, 9, 0.863);
    margin: 2px auto;

}

.burger__salad{
    height: 20px;
    width: 90%;
    background-color: rgb(18, 126, 18);
    margin: 2px auto;
}

.burger__cheese{
    height: 20px;
    width: 100%;
    background-color: rgb(216, 216, 19);
    margin: 2px auto;
}

.burger__so{
    height: 20px;
    width: 70%;
    background-color:red;
    margin: 2px auto;
}

